header{
 background-color: #E0ECE4;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.main{
	background-color: #E0ECE4;
	display: flex;
	align-items: center;
	height: 300px;
	/*background-image: url(../img/pc.jpg);
	background-size: 500px 300px;
	background-repeat: no-repeat;
	background-position: right;*/
	justify-content: space-between;
}

.main figure{
	margin: 0px;
	height: inherit;
}

.main img{
	width: 300px;
	height: inherit; 
}

.header{
    display: flex;
	justify-content: space-between;
	height: 86px;
	align-items: center;
}

.menu{
	height: inherit;
}

.header figure{
	margin: 0px 0px 0px 20px;
	width: 100px;
	height: 86px;
}

.header figure img{
	width: inherit;
	height: inherit;
}

ul{
   display: flex;
   list-style: none;
   margin: 0px;
   padding: 0px;
   height: inherit;
}

li{
	height: inherit;
}

h1, h2, h3, h4{
	font-family: 'Fjalla One', sans-serif;
}

h2{
	margin: 0px;
	padding: 30px 0px;
	text-transform: uppercase;
	color: #0000FF;
	font-size: 30px;
}


h1{
	line-height: 1.5em;
	font-size: 40px;
	font-weight: 100;
	font-style: oblique;
	letter-spacing: -0.2px;
    text-transform: capitalize;
    margin: 0px;
}

.link{
	text-decoration: none;
	display: flex;
	align-items: center;
	height: inherit;
	margin: 0px 20px; 
	padding: 0px 10px;
}


.projects{
	padding: 0px 30px 10px 30px;
	background-color: #F7F2E7;
}


.project{
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px black;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 30px 0px;
}

.project-left{
	width: 500px;
}

.project-title{
	margin: 0px;
	font-size: 25px;
	margin-bottom: 20px;
}

.project-language{
	margin-top: 20px;
}

.project-date{
	margin-top: 20px;
}

.project-link{
	margin-top: 20px;
}

.project-link a{
	text-decoration: none;
	color: #000000;
}

.project-description{
	margin-top: 20px;
	font-size: 20px;
}

.project-container_image{
	width: 500px;
}

.project-image{
	width: inherit;
}

.project-title{
	margin-top: 0px;
}

.experiences{
	padding: 0px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.experience{
	width: 480px;
	margin: 0px 20px 40px 0px;
	border-radius: 10px;
	overflow: hidden;
	flex-shrink: 0;
	background-color: #F7F2E7;
	text-align: center;
}
.experience-container_image{
	margin: 0px;
	width: inherit;
	height: 200px;
}

.experience-image{
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.experience-title{
	margin: 0px;
}

.experience-description{
	text-align: left;
}

.experience-down{
	margin: 20px 40px;
	background-color: #FFFFFF;
	margin-top: -40px;
	position: relative;
	padding: 20px;
	border-radius: 10px;
}

.experience-down button{
	border: 1px solid #2E64FE;
	padding: 10px 25px;
	cursor: pointer;
	border-radius: 5px;
	color: #2E64FE;
}

.experience-mainTitle{
	margin-left: 30px;
}

.contact{
	display: flex;
	background-color: #D8D3CD;
	padding: 30px 30px 30px 0px;
	justify-content: space-between;
	align-items: center;
}

.contact-form{
	margin-left: 30px;
}

.contact-form input{
	border-color: gray;
	border-style: solid;
	padding: 5px 5px 5px 30px;
	border-radius: 5px;
	background-image: url(../img/mail.png);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 3px;
	outline: none;  
	margin-top: 20px;
}

.contact-form button{
	display: block;
	padding: 5px 25px;
	cursor: pointer;
	font-size: 16px;
	background-color: transparent;
	margin-top: 10px;
	border-radius: 10px;
}

.contact-form h2{
	padding: 0px;
}

.redes{
	display: flex;
}

.redes-link{
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.redes-link.github{
	background-image: url(../img/git.svg);
	background-size: 50px 50px;
}
.redes-link.facebook{
	background-image: url(../img/face.svg);
	background-size: 50px 50px;
}
.redes-link.instagram{
	background-image: url(../img/insta.svg);
	background-size: 50px 50px;
}
.redes-link.whatsapp{
	background-image: url(../img/whats.svg);
	background-size: 50px 50px;
}

.footer{
	background-color: #797A7E;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 60px; 
}

.footer-details{
	display: flex;
	align-items: center;
}

.footer-details img{
	width: 20px;
	height: 20px;
	margin-left: 15px; 
}

.wrapper{
	width: 1000px;
	margin: 0px auto;
	display: inherit;
	align-items: inherit;
	justify-content: inherit;
	height: inherit;
	flex-wrap: inherit;
}