body{
    font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	font-size: 16px;
}
.container_menu{
	margin: 0px;
	position: fixed;
	z-index: 400;
	left: 5px;
	display: none;


}
.menu_hamburguer{
	width: 90px;
    height: 90px;
}


.main{
	background-color: #020518;
	display: flex;
	align-items: center;
	height: 300px;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 3rem 1.5rem;
}

.main figure{
	margin: 0px;
	height: inherit;
}

.main img{
	width: 400px;
	height: inherit; 
}

.header{
	background-color: #020518;
    display: flex;
	justify-content: space-between;
	height: 86px;
	align-items: center;
	flex-wrap: wrap;
}

.menu{
	height: inherit;
		
}

.header figure{
	margin: 0px 0px 0px 20px;
	width: 100px;
	height: 86px;
	/* box-shadow: 10px 10px 10px black; */
}

.header figure img{
	width: inherit;
	height: inherit;
	
}

ul{
   display: flex;
   list-style: none;
   margin: 0px;
   padding: 0px;
   height: auto;
   width: 100%;
}

li{
	height: inherit;
	font-size: 20px;
	
}

h1, h2, h3, h4{
	font-family: 'Fjalla One', sans-serif;
}

h2{
	margin: 0px;
	padding: 1.5rem 0px;
	text-transform: uppercase;
	color: #0000FF;
	font-weight: bold;
	font-size: 1.6rem;
}


h1{
	line-height: 1.5em;
	font-size: 40px;
	font-weight: 100;
	font-style: oblique;
	letter-spacing: -0.2px;
    text-transform: capitalize;
	margin: 0px;
	z-index: 5;
	color: whitesmoke;
}
.main span{
	color: lawngreen;
}

.link{
	text-decoration: none;
	display: flex;
	align-items: center;
	height: inherit;
	margin: 0px 20px; 
	padding: 0px 10px;
	color: lawngreen;
	font-size: 1.5rem;
	margin-top: 35px;
	
}


.projects{
	padding: 0px 1.5rem 10px 1.5rem;
	background-color: #F7F2E7;
}


.project{
	padding: 2%;
	border-radius: 10px;
	box-shadow: 0px 0px 20px black;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 1.8rem 0px;
	flex-wrap: wrap;
}

.project-left{
	width: 48%;
}

.project-title{
	margin: 0 0 0.7rem 0;
	font-size: 1.3rem;
	}

.project-language, .project-date, .project-link, .project-description{
	margin: 0.7rem 0;
}


.project-link a{
	text-decoration: none;
	color: #000000;
}


.project-container_image{
	width: 48%;
	margin: 0px;
}

.project-image{
	width: 100%;
}

.project-title{
	margin-top: 0px;
}

.experiences{
	padding: 0px 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.experience{
	width: 48%;
	margin: 0px 2% 40px 0px;
	border-radius: 10px;
	overflow: hidden;
	flex-shrink: 0;
	background-color: #F7F2E7;
	text-align: center;
}
.experience-container_image{
	margin: 0px;
	width: 100%;
	height: 200px;
}

.experience-image{
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.experience-title{
	margin: 0px;
}

.experience-description{
	text-align: left;
}

.experience-down{
	margin: 0px 1.5rem 1.3rem 1.5rem;
	background-color: #FFFFFF;
	margin-top: -2rem;
	position: relative;
	padding: 20px;
	border-radius: 10px;
}

.experience-down button{
	border: 1px solid #2E64FE;
	padding: 10px 25px;
	cursor: pointer;
	border-radius: 5px;
	color: #2E64FE;
}

.experience-mainTitle{
	margin-left: 0px;
	padding: 1.5rem 0 1.5rem 0rem;
}

.contact{
	display: flex;
	background-color: #D8D3CD;
	padding: 1.7rem 2.5rem 1.7rem 2.5rem;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.contact-form{
	/* margin-left: 30px; */
}

.contact-form input{
	border-color: gray;
	border-style: solid;
	padding: 5px 5px 5px 30px;
	border-radius: 5px;
	background-image: url(../img/mail.png);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 3px;
	outline: none;  
	margin-top: 20px;
}

.contact-form button{
	display: block;
	padding: 5px 25px;
	cursor: pointer;
	font-size: 16px;
	background-color: transparent;
	margin-top: 10px;
	border-radius: 10px;
}

.contact-form h2{
	padding: 0px;
}

.redes{
	display: flex;
}

.redes-link{
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.redes-link.github{
	background-image: url(../img/git.svg);
	background-size: 50px 50px;
}
.redes-link.facebook{
	background-image: url(../img/face.svg);
	background-size: 50px 50px;
}
.redes-link.instagram{
	background-image: url(../img/insta.svg);
	background-size: 50px 50px;
}
.redes-link.whatsapp{
	background-image: url(../img/whats.svg);
	background-size: 50px 50px;
}

.footer{
	background-color: #797A7E;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 2.5rem; 
	flex-wrap: wrap;
}

.footer-details{
	display: flex;
	align-items: center;
}

.footer-details img{
	width: 20px;
	height: 20px;
	margin-left: 15px; 
}

.wrapper{
	max-width: 1000px;
	flex:1px;
	margin: 0px auto;
	display: inherit;
	align-items: inherit;
	justify-content: inherit;
	height: inherit;
	flex-wrap: inherit;
}

@media screen and (max-width:1024px){

	.experience-mainTitle{
		padding: 1.3rem 0 1.3rem 1.5rem;
	}
	.main{
		height: auto;
		position: relative;
		overflow: hidden;
	}
	.main figure img{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
}

@media screen and (max-width:767px){
	.container_menu{
		display: block;
	}
	.menu{
		position: fixed;
		z-index: 300;
		background-color: rgba(0, 0, 0, 0.5);
		top: 0;
		left: -100vw;
		right: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 2s;
	}
   .header{
	   height: auto;
	   display: block;
   }
   ul{
	   display: block;
   }

   .menu.menu_active{
	   left: 0;
   }

   .link{
	   justify-content: center;
	   margin: 0px 0px;
	   padding: 10px 0px;
	   color: gold;
	   font-size: 2rem;
   }
   .link:hover{
	background-color: #c8d6cd;
   }
   .header figure{
	   display: flex;
	   justify-content: center;
	   width: auto;
	   margin: 0px 0px 0px 0px;
	   padding: 10px 0px;
   }
   .project{
	   display: block;
	   padding: 2%;
	   /* font-size: 16px; */
	   box-shadow: 0px 0px 8px black;
   }
   .project-left{
	   width: auto;
   }
   .project-container_image{
	   width: auto;
   }
   .project-title{
	   font-size: 1.2em;
   }
   .project-description{
	   font-size: 1em;
   }
   .project-language, .project-date, .project-link, .project-description{
	   margin: 0.6 rem 0;
   }
   .projects h2{
	   font-size: 1.5rem;
	   padding: 1.3rem 0px;
   }
   .experiences{
	   display: block;
   }
   .experience{
	   width: 100%;
	   margin: 0 2% 3rem 0;
   }
   .experience-mainTitle{
	padding: 1.3rem 0 1.3rem 1.5rem;

}
   
}

@media screen and (max-width: 567px){
	h1{
		font-size: 2rem;
	}
	.main{
		padding: 1.5rem 1.5rem;
	}
	.contact{
		justify-content: center;
		padding: 1.7rem 2.5rem 0.5rem 2.5rem;
		}
	.contact-form{
		text-align: center;
	}
	.contact-form button{
		margin: 1rem auto 1.2rem auto;
	}
	.redes-link{
		margin-bottom: 1rem;
	}
	.redes{
		flex-wrap: wrap;
		justify-content: center;
	}
    .footer{
		display: block;
		text-align: center;
	}
    .footer-details{
		justify-content: center;
	} 
}

@media screen and (max-width:480px){
	h1{
		font-size: 1.2rem;
	}
	.main{
		padding: 2.5rem 1.2rem;
	}
	
	.projects{
		font-size: 0.8em;
		padding: 0px 1.2rem 6px 1.2rem;
	}
	.project{ 
		box-shadow: 0px 0px 6px black;
		padding: 3%;
  }

   .projects h2{
	   padding: 1.1rem 0;
	   font-size: 1.4rem;
   }

   .project-title{
	   font-size: 1.2rem;
   }

   .project-language, .project-date, .project-link, .project-description{
	   margin: 0.6rem 0;
	   font-size: 1rem;
   }

    .link{
		padding: 0.5em 0px;
	}
	.experience-down{
		padding: 1rem;
		margin: 0 1.5rem 1.3rem 1.5rem;
		margin-top: -1.5rem;
	}
	.experiences{
		padding: 0 1.5rem;
	}
	.experience-mainTitle{
		font-size: 1.4rem;
		padding: 1.1rem 0 1.1rem 1.2rem;
	}
	.experience{
		margin: 0px 2% 2.5rem 0px;
	}
	.contact, .footer{
		padding: 1rem 1.3rem 0.5rem 1.3rem;
	}

}

@media screen and (max-width:320px){
	h1{
		font-size: 1.1rem;
	
	}
	.main{
		padding: 2rem 1rem;
	}
    .project{
		box-shadow: 0px 0px 4px black;
		margin-bottom: 0.9rem;
		padding: 4% ;
	}
	.link{
		padding: 0.4em 0px;
	}

	.projects{
		padding: 0px 0.9rem 6px 0.9rem;
	}
	.projects h2{
		padding: 1.1rem 0;
		font-size: 1.3rem;
	}
	.project-title{
		font-size: 1.1rem;
	}
	.project-language, .project-date, .project-link, .project-description{
		margin: 0.6rem 0;
		font-size: 0.9rem;
	}
	.experience-down{
		padding: 0.8rem;
		margin: 0 1rem 1.3rem 1rem;
		margin-top: -1.5rem;
	}
	.experiences{
		padding: 0 1.5rem;
	}
	.experience-title{
		font-size: 1rem;
	}
	.experience-description{
		font-size: 0.9rem;
	}
	.experience-mainTitle{
		font-size: 1.3rem;
		padding: 1.1rem 0 1.1rem 0.9rem;
	}
	.experience{
		margin: 0px 2% 2rem 0px;
	}
	.redes-link.github{
		margin-left: 0;
	}
	.contact, .footer{
		padding: 1rem 1rem 0.5rem 1rem;
	}
	

}

.content_video{
	background-color: royalblue;
	width: 100%;
	height: 0;
	padding-top: 56.25% ;
	position: relative;
}

.video{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	}




